---
import { ViewTransitions } from 'astro:transitions';

export const prerender = true
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Deno+Astro</title>
  <ViewTransitions />
</head>

<style>
.profile {
  display: flex;
  gap: 10px;
}
</style>
