---
import Layout from '../../components/Layout.astro';
import '../../style.css'

export const prerender = true
---
<Layout>
  <div class="section">nus1 Content</div>
</Layout>

<style scoped>
.section {
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 0.25rem;
  width: 200px;
  height: 200px;
  background-color: var(--primary-color-opacity-low);
}
</style>
